<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    
    <!-- CSS Custom -->
    <link rel="stylesheet" href="css/style.css">
        
    <!-- Icons FontAwesome-->
    <link rel="stylesheet" href="fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <!-- Font Style -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif%7CUbuntu" rel="stylesheet">

    <title>Fatec Marília</title>
  </head>
  <body>  

    <div id="logo" class="d-none d-md-block">
        <div class="container">
            <div class="row mt-1 mb-1">
                <img src="img/site/logotipos/10anosfatec.png" alt="logo-fatec" class="img-fluid float-left" style="height: 172px;">
                <img src="img/site/logotipos/fatec.png" alt="logo-fatec" class="img-fluid float-right ml-auto">
            </div>                
        </div>            
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <!-- Navbar-brand with hamburg menu -->
            <a href="#" class="navbar-brand h1 mb-0"><img src="img/site/logotipos/logofatec-white-2.png" alt="logo-fatec" class="img-fluid" style="width: 90px; height: 30px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- End Navbar-brand with hamburg menu -->

            <!-- Menu site -->
            <div id="navbarSite" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Institucional
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Histórico</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Administrativo</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Docente</a></li>
                            <li><a class="dropdown-item" href="#">Congregação</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Diretoria de Serviços</a></li>
                            <li><a class="dropdown-item" href="#">Secretaria Acadêmica</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Laboratórios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Processamento de Alimentos</a></li>
                                    <li><a class="dropdown-item" href="#">Físico-Químico</a></li>
                                    <li><a class="dropdown-item" href="#">Microbiologia</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Informática</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">CEUA</a></li>
                        </ul>                        
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cursos
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação (Presencial)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Tecnologia em Alimentos</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação à distância (EaD)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gestão Empresarial</a></li>
                                </ul>                                    
                            </li>
                        </ul>                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Biblioteca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eventos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Revista Alimentus</a></li>
                            <li><a class="dropdown-item" href="#">Tecnólogos em Foco</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alunos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Acesso ao SIGA</a></li>                                                        
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Área de Estágios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Estágio na FATEC</a></li>
                                    <li><a class="dropdown-item" href="#">Estágio em EMPRESAS</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Downloads</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Material de Aula</a></li>
                                    <li><a class="dropdown-item" href="#">Certificados de eventos</a></li>
                                </ul>                                    
                            </li>                            
                        </ul>                          
                    </li>                          
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vestibular
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Como ingressar na Fatec</a></li>
                            <li><a class="dropdown-item" href="#">Documentos para matrícula</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">calendário</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Provas e Gabaritos</a></li>
                            <li><a class="dropdown-item" href="#">Dúvidas Frequentes</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Guia de Profissões</a></li>                            
                        </ul>
                    </li>  
                    <li class="nav-item ">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-unlock-alt"></i>
                        </a>                        
                    </li>                      
                </ul>
            </div>
            <!-- End Menu site -->
        </div>
    </nav>
    <!-- End Navbar -->
    

    <div class="container">
        <div class="mt-3 p-3 bg-light text-dark ">
            <h1 class="text-dark">CEUA - Comitê de Ética para uso Animal</h1>
            <div class="row justify-content-start ml-auto d-none">
                <div><h6>Tipo: <span class="badge badge-primary">Ensino Presencial</span></h6></div>
                <div class="ml-2"><h6>Duração: <span class="badge badge-primary">03 anos</span></h6></div>                
                <div class="ml-2"><h6>Período: <span class="badge badge-primary">Diurno e Noturno</span></h6></div>
                <div class="ml-2"><h6>Vagas: <span class="badge badge-primary">40</span></h6></div>
            </div>            
        </div>
        
        <div class="mt-4 p-3 bg-light text-dark d-none">
            <h5>Coordenador do Curso: Prof. MSc. Wilson Chagas Gouveia</h5>
            <h6>E-Mail: fatec.coordenadoria@gmail.com</h6>
        </div>

        <div class="mt-4">
            <h4 class="font-italic d-none">Perfil Profissiográfico do Tecnólogo</h4>
            <div class="text-justify">
                <p>O Comitê de Ética para uso Animal da Faculdade de Tecnologia de Marília – CEUA - é uma comissão de cunho permanente, de natureza consultiva, deliberativa, normativa, educativa e independente, vinculada à Comissão Nacional de Ética.</p>
                <p>O CEUA-FATEC Marília tem por finalidade analisar, emitir pareceres e expedir certificados, à luz dos princípios éticos na experimentação animal elaborado pelo Colégio Brasileiro de Experimentação Animal (COBEA), sobre os protocolos de experimentação (ensino e pesquisa) que envolvam o uso de animais.</p>                
                <p>Email para contato: <span class="text-primary">ceuafatecmarilia@gmail.com</span></p>
            </div>            
            <h4>Membros do CEUA</h4>
            <h5>I) Coordenador:</h5>
            <p>Prof. Dr. Paulo Sergio Jorge - Médico Veterinário - CRMV-SP 07874</p>
            <h5>Vice-Coordenadora:</h5>
            <p>Profa. Dra. Sandra Maria Barbalho - Bióloga - CRB 033396</p>
            <hr>
            <h5>II - Representantes Docentes:</h5>
            <p>Profa. Dra. Renata Bonini Pardo - Médica Veterinária - CRMV-SP 07875</p>
            <p>Prof. Msc. Leandro Repetti - Médico Veterinário - CRMV-SP 13006</p>
            <p>Profa. Msc. Flávia M. V. Farinazzi Machado - Nutricionista - CRN-3 10142</p>
            <hr>
            <h5>III) Representante do Corpo Técnico Administrativo</h5>
            <p>Sueli Rodrigues Paes</p>
            <hr>
            <h5>IV) Representante Técnico Laboratorial</h5>
            <p>Heberty Eduardo de Marco</p> 
            <hr>

            <h5>V) Representante do Corpo Discente</h5>
            <p>Liliane Rossaneli Castilho Herrera</p> 
            <hr>

            <h5>VI) Representante da Comunidade Externa</h5>
            <p>Anna Christina Arantes Barreto</p>
            <hr>

            <h5>VII) Representante da Sociedade Protetora dos Animais de Marília</h5>
            <p>Dr. Jaime Maldonado de Azevedo</p> 
            <hr>
            <h5>Membros Suplentes:</h5>
            <p>Profa. Dra. Silvana Favori Pedroso</p> 
            <p>Profa. Dra. Cláudia Dorta</p>
            <p>Profa. Dra. Élen Landgraf Guiguer</p>
            <p>Maria Flávia Bernal de Andrade - Discente</p>
        </div>
        <hr>
        <div class="mb-3 mt-3">
            <h4>Documentos importantes (Portaria, Regimento e Normas do CEUA)</h4>
            <div class="list-group">                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Portaria de criação da Comissão de Ética no uso de Animais</h6>                                
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Regimento Interno - CEUA</h6>                                
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Normas para envio de projeto de pesquisa para CEUA</h6>                                
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
            </div>
        </div>
        
        <div class="mb-3 mt-4">
            <h4>Formulários para protocolo</h4>
            <small class="text-danger font-italic">* Os formulários devem ser preenchidos e protocolados pela comissão</small>
            <div class="list-group">                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-word fa-2x mr-3 align-self-center text-primary"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Ofício para apreciação de projeto de pesquisa</h6>
                                <small class="font-italic d-none">Grade válida atualmente para o curso</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-word fa-2x mr-3 align-self-center text-primary"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Formulário de solicitação de autorização para uso de animais em experimentação</h6>
                                <small class="font-italic d-none">Grade válida até 30/12/2010</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-word fa-2x mr-3 align-self-center text-primary"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Folha de Rosto para pesquisa envolvendo animais</h6>
                                <small class="font-italic d-none">Grade válida até 30/12/2009</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
            </div>
        </div>
    </div>

    

    <!-- Footer -->
    <div class="bg-light">
        <div class="container">            
            <div class="row text-center">
                <div class="col-sm-6 col-lg-12">
                    <img src="img/site/logotipos/cpssp.png" alt="" class="mt-2 img-fluid">
                </div>                
            </div>
            <div class="row">
                <div class="col-12 mt-3"><hr></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4 col-md-6">                    
                    <address>
                        <p class="h3 mb-0"><strong>Fatec Marília</strong><br></p>
                        <p class="h6 mb-3">Faculdade de Tecnologia "Estudante Rafael Almeida Camarinha"</p>                         
                        <p class="mb-0"><i class="fas fa-map-signs"></i> Av. Castro Alves, 62 - 2º andar</p>
                        <p class="mb-0">17.506-000 - Somenzari - Marília/SP</p>
                        <p class="mb-0"><i class="fas fa-phone"></i> (14) 3454-7540</p>
                        <p class="mb-0"><i class="fas fa-at"></i> fatecmarilia@gmail.com</p>
                    </address>
                </div>
                <div class="col-sm-4 col-md-3 mb-3">
                    <h3>Siga-nos</h3>                
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i> Facebook</a>                        
                        <a href="#" class="btn btn-outline-danger"><i class="fab fa-youtube"></i> Youtube</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h3>Créditos</h3>
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="https://pixabay.com/pt/" target="_blank" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Banco de imagens grátis"><i class="far fa-images"></i> Pixabay</a>                        
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <p class="text-muted text-center">Copyright © 2006 - 2018 Fatec Marília. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
    <!-- End Footer -->
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script>        
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(function(){
            $('[data-toggle="popover"]').popover()
        }); 
    </script>
    <script src="js/menu.js"></script>
  </body>
</html>