<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    
    <!-- CSS Custom -->
    <link rel="stylesheet" href="css/style.css">
        
    <!-- Icons FontAwesome -->    
    <link rel="stylesheet" href="fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <!-- Font Style -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif%7CUbuntu" rel="stylesheet">

    <title>Fatec Marília</title>
  </head>
  <body>  

    <div id="logo" class="d-none d-md-block">
        <div class="container">
            <div class="row mt-1 mb-1">
                <img src="img/site/logotipos/10anosfatec.png" alt="logo-fatec" class="img-fluid float-left" style="height: 172px;">
                <img src="img/site/logotipos/fatec.png" alt="logo-fatec" class="img-fluid float-right ml-auto">
            </div>                
        </div>            
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <!-- Navbar-brand with hamburg menu -->
            <a href="#" class="navbar-brand h1 mb-0"><img src="img/site/logotipos/logofatec-white-2.png" alt="logo-fatec" class="img-fluid" style="width: 90px; height: 30px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- End Navbar-brand with hamburg menu -->

            <!-- Menu site -->
            <div id="navbarSite" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Institucional
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Histórico</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Administrativo</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Docente</a></li>
                            <li><a class="dropdown-item" href="#">Congregação</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Diretoria de Serviços</a></li>
                            <li><a class="dropdown-item" href="#">Secretaria Acadêmica</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Laboratórios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Processamento de Alimentos</a></li>
                                    <li><a class="dropdown-item" href="#">Físico-Químico</a></li>
                                    <li><a class="dropdown-item" href="#">Microbiologia</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Informática</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="ceua.html">CEUA</a></li>
                        </ul>                        
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cursos
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação (Presencial)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Tecnologia em Alimentos</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação à distância (EaD)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gestão Empresarial</a></li>
                                </ul>                                    
                            </li>
                        </ul>                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Biblioteca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eventos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Revista Alimentus</a></li>
                            <li><a class="dropdown-item" href="#">Tecnólogos em Foco</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alunos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Acesso ao SIGA</a></li>                                                        
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Área de Estágios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Estágio na FATEC</a></li>
                                    <li><a class="dropdown-item" href="#">Estágio em EMPRESAS</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Downloads</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Material de Aula</a></li>
                                    <li><a class="dropdown-item" href="#">Certificados de eventos</a></li>
                                </ul>                                    
                            </li>                            
                        </ul>                          
                    </li>                          
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vestibular
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Como ingressar na Fatec</a></li>
                            <li><a class="dropdown-item" href="#">Documentos para matrícula</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">calendário</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Provas e Gabaritos</a></li>
                            <li><a class="dropdown-item" href="#">Dúvidas Frequentes</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Guia de Profissões</a></li>                            
                        </ul>
                    </li>  
                    <li class="nav-item ">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-unlock-alt"></i>
                        </a>                        
                    </li>                      
                </ul>
            </div>
            <!-- End Menu site -->
        </div>
    </nav>
    <!-- End Navbar -->
    

    <div class="container">
        <div class="mt-3 p-3 bg-light text-dark ">
            <h1 class="text-dark">Curso Superior de Graduação em Tecnologia em Alimentos</h1>            
            
            <div class="mt-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tipo do curso:
                        <span class="badge badge-primary badge-pill">Ensino Presencial</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Duração do curso:
                        <span class="badge badge-primary badge-pill">03 anos</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Período do curso:
                        <span class="badge badge-primary badge-pill">Diurno e Noturno</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Quantidade de vagas por período:
                        <span class="badge badge-primary badge-pill">40 vagas</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="mt-2 p-3 bg-light text-dark ">
            <h5>Coordenador do Curso: Prof. MSc. Wilson Chagas Gouveia</h5>
            <h6>E-Mail: fatec.coordenadoria@gmail.com</h6>
        </div>

        <div class="mt-4">
            <h4 class="font-italic">Perfil Profissiográfico do Tecnólogo</h4>
            <div class="text-justify">
                <p>No ambiente das empresas é fato a ocorrência de profundas alterações em sua forma de atuação, o que ocasiona a exigência de plena harmonia entre inovação tecnológica, estrutura e colaboradores com a própria matriz organizacional. A competitividade de uma empresa resulta da habilidade de seus dirigentes em administrar, de forma integrada, esses parâmetros em direção às crescentes e rigorosas exigências de atualização do mercado.</p>
                <p>A atuação do Tecnólogo pode se estender desde a criação, absorção, domínio, digestão e difusão dos conhecimentos, atingindo pleno atendimento das necessidades estabelecidas pelo mercado. Tal profissional é capaz de oferecer soluções criativas e de participar de equipes habilitadas na concepção e desenvolvimento de soluções.</p>
                <p>O Tecnólogo é o agente capaz de conduzir o processo de inovação, inserindo-o harmonicamente, dentro do contexto mercadológico das organizações. É capaz ainda de colocar as forças da natureza e seus recursos à serviço da sociedade, no atendimento de suas necessidades.</p>
                <p>O Tecnólogo é visto como o profissional que busca sistematicamente ampliar seus conhecimentos, habilidades e aptidões, não só no âmbito tecnológico, mas também no humanístico a fim de aperfeiçoar as comunicações e relações humanas a fim de contribuir para o desenvolvimento e inovação da transformação da matéria prima em produtos ofertados à sociedade.</p>
                <p>O Tecnólogo em Alimentos é o profissional que planeja, executa, coordena, controla e supervisiona processos de produção de alimentos e de bebidas. Participa de pesquisas para melhoria, para adequação e para o desenvolvimento de novos produtos e processos. Planeja, realiza e coordena inspeções sanitárias na indústria de alimentos e em ramos afins. Implanta sistemas de garantia da qualidade de alimentos, atendendo normas e padrões nacionais e as exigências do mercado internacional. Orienta as atividades relacionadas à manutenção de equipamentos empregados nos processos das indústrias de alimentos. Controla a qualidade de serviços de alimentação, objetivando a proteção à saúde dos consumidores. Gerencia serviços de atendimento a consumidores de indústrias de alimentos.</p>
            </div>            
        </div>

        <div class="mb-3 mt-3">
            <h4>Grade Curricular</h4>
            <div class="list-group">                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Grade A31</h6>
                                <small class="font-italic">Grade válida atualmente para o curso</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Grade B31</h6>
                                <small class="font-italic">Grade válida até 30/12/2010</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-pdf fa-2x mr-3 align-self-center text-danger"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Grade C31</h6>
                                <small class="font-italic">Grade válida até 30/12/2009</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
            </div>
        </div>
        
        <div class="mb-3 mt-4">
            <h4>Ementário do Curso</h4>
            <div class="list-group">                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-archive fa-2x mr-3 align-self-center text-warning"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Ementas da Grade A31</h6>
                                <small class="font-italic d-none">Grade válida atualmente para o curso</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>                
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-archive fa-2x mr-3 align-self-center text-warning"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Ementas da Grade B31</h6>
                                <small class="font-italic d-none">Grade válida até 30/12/2010</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row justify-content-between">
                        <div class="media ml-3">
                            <i class="far fa-file-archive fa-2x mr-3 align-self-center text-warning"></i>
                            <div class="media-body">
                                <h6 class="mt-0">Ementas da Grade C31</h6>
                                <small class="font-italic d-none">Grade válida até 30/12/2009</small>
                            </div>
                        </div>
                        <div class="mr-3 align-self-center">
                            <i class="fas fa-download fa-2x d-none d-md-block" data-toggle="tooltip" data-placement="top" title="Baixar arquivo"></i>
                        </div>                    
                    </div>
                </a>
            </div>
        </div>
    </div>

    

    <!-- Footer -->
    <div class="bg-light">
        <div class="container">            
            <div class="row text-center">
                <div class="col-sm-6 col-lg-12">
                    <img src="img/site/logotipos/cpssp.png" alt="" class="mt-2 img-fluid">
                </div>                
            </div>
            <div class="row">
                <div class="col-12 mt-3"><hr></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4 col-md-6">                    
                    <address>
                        <p class="h3 mb-0"><strong>Fatec Marília</strong><br></p>
                        <p class="h6 mb-3">Faculdade de Tecnologia "Estudante Rafael Almeida Camarinha"</p>                         
                        <p class="mb-0"><i class="fas fa-map-signs"></i> Av. Castro Alves, 62 - 2º andar</p>
                        <p class="mb-0">17.506-000 - Somenzari - Marília/SP</p>
                        <p class="mb-0"><i class="fas fa-phone"></i> (14) 3454-7540</p>
                        <p class="mb-0"><i class="fas fa-at"></i> fatecmarilia@gmail.com</p>
                    </address>
                </div>
                <div class="col-sm-4 col-md-3 mb-3">
                    <h3>Siga-nos</h3>                
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i> Facebook</a>                        
                        <a href="#" class="btn btn-outline-danger"><i class="fab fa-youtube"></i> Youtube</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h3>Créditos</h3>
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="https://pixabay.com/pt/" target="_blank" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Banco de imagens grátis"><i class="far fa-images"></i> Pixabay</a>                        
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <p class="text-muted text-center">Copyright © 2006 - 2018 Fatec Marília. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
    <!-- End Footer -->
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script>        
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(function(){
            $('[data-toggle="popover"]').popover()
        }); 
    </script>
    <script src="js/menu.js"></script>
  </body>
</html>