<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    
    <!-- CSS Custom -->
    <link rel="stylesheet" href="css/style.css">
        
    <!-- Icons FontAwesome-->
    <link rel="stylesheet" href="fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <!-- Font Style -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif%7CUbuntu" rel="stylesheet">

    <!-- TinyMCE Editor -->
    <script src="https://cdn.ckeditor.com/4.10.1/full/ckeditor.js"></script>    

    <title>Fatec Marília</title>
  </head>
  <body>  

    <div id="logo" class="d-none d-md-block">
        <div class="container">
            <div class="row mt-1 mb-1">
                <img src="img/site/logotipos/10anosfatec.png" alt="logo-fatec" class="img-fluid float-left" style="height: 172px;">
                <img src="img/site/logotipos/fatec.png" alt="logo-fatec" class="img-fluid float-right ml-auto">
            </div>                
        </div>            
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <!-- Navbar-brand with hamburg menu -->
            <a href="#" class="navbar-brand h1 mb-0"><img src="img/site/logotipos/logofatec-white-2.png" alt="logo-fatec" class="img-fluid" style="width: 90px; height: 30px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- End Navbar-brand with hamburg menu -->

            <!-- Menu site -->
            <div id="navbarSite" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Institucional
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Histórico</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Administrativo</a></li>
                            <li><a class="dropdown-item" href="#">Corpo Docente</a></li>
                            <li><a class="dropdown-item" href="#">Congregação</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Diretoria de Serviços</a></li>
                            <li><a class="dropdown-item" href="#">Secretaria Acadêmica</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Laboratórios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Processamento de Alimentos</a></li>
                                    <li><a class="dropdown-item" href="#">Físico-Químico</a></li>
                                    <li><a class="dropdown-item" href="#">Microbiologia</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Informática</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">CEUA</a></li>
                        </ul>                        
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cursos
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação (Presencial)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Tecnologia em Alimentos</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Graduação à distância (EaD)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gestão Empresarial</a></li>
                                </ul>                                    
                            </li>
                        </ul>                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Biblioteca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eventos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Revista Alimentus</a></li>
                            <li><a class="dropdown-item" href="#">Tecnólogos em Foco</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alunos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Acesso ao SIGA</a></li>                                                        
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Área de Estágios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Estágio na FATEC</a></li>
                                    <li><a class="dropdown-item" href="#">Estágio em EMPRESAS</a></li>
                                </ul>                                    
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Downloads</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Material de Aula</a></li>
                                    <li><a class="dropdown-item" href="#">Certificados de eventos</a></li>
                                </ul>                                    
                            </li>                            
                        </ul>                          
                    </li>                          
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vestibular
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Como ingressar na Fatec</a></li>
                            <li><a class="dropdown-item" href="#">Documentos para matrícula</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">calendário</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Provas e Gabaritos</a></li>
                            <li><a class="dropdown-item" href="#">Dúvidas Frequentes</a></li>                            
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Guia de Profissões</a></li>                            
                        </ul>
                    </li>  
                    <li class="nav-item ">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-unlock-alt"></i>
                        </a>                        
                    </li>                      
                </ul>
            </div>
            <!-- End Menu site -->
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container">
        <div class="mt-4 mb-4">
            <form action="" method="POST">
                    <textarea name="editor1" id="editor1" rows="10" cols="80">
                        This is my textarea to be replaced with CKEditor.
                    </textarea>
                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace( 'editor1' );
                    </script>   
                    <button type="submit" class="btn btn-primary mt-2">Publicar</button>
            </form>            
        </div>        
    </div>

    <!-- Footer -->
    <div class="bg-light">
        <div class="container">            
            <div class="row text-center">
                <div class="col-sm-6 col-lg-12">
                    <img src="img/site/logotipos/cpssp.png" alt="" class="mt-2 img-fluid">
                </div>                
            </div>
            <div class="row">
                <div class="col-12 mt-3"><hr></div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-4 col-md-6">                    
                    <address>
                        <p class="h3 mb-0"><strong>Fatec Marília</strong><br></p>
                        <p class="h6 mb-3">Faculdade de Tecnologia "Estudante Rafael Almeida Camarinha"</p>                         
                        <p class="mb-0"><i class="fas fa-map-signs"></i> Av. Castro Alves, 62 - 2º andar</p>
                        <p class="mb-0">17.506-000 - Somenzari - Marília/SP</p>
                        <p class="mb-0"><i class="fas fa-phone"></i> (14) 3454-7540</p>
                        <p class="mb-0"><i class="fas fa-at"></i> fatecmarilia@gmail.com</p>
                    </address>
                </div>
                <div class="col-sm-4 col-md-3 mb-3">
                    <h3>Siga-nos</h3>                
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="#" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i> Facebook</a>                        
                        <a href="#" class="btn btn-outline-danger"><i class="fab fa-youtube"></i> Youtube</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h3>Créditos</h3>
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a href="https://pixabay.com/pt/" target="_blank" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Banco de imagens grátis"><i class="far fa-images"></i> Pixabay</a>                        
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <p class="text-muted text-center">Copyright © 2006 - 2018 Fatec Marília. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
    <!-- End Footer -->
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script>        
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $(function(){
            $('[data-toggle="popover"]').popover()
        }); 
    </script>
    <script src="js/menu.js"></script>
  </body>
</html>